{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Predictor</title>
    <link rel="stylesheet" type="text/css" href="{% static  'predictor/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="maion-content">
        <div id="textbox">
            <textarea name="input_statement" id="textarea" cols="30" rows="10">

            </textarea>
            <button id="submitReview">Predict My review</button>
        </div>
    </div>

    <div id="output"></div>
    <script src="{% static 'predictor/index.js' %}"></script>
</body>

</html>